body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#upload-form {
    text-align: center;
    margin: 20px;
}

#result {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
